@model IEnumerable<MissyMenu.Service.Global>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Config_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Config_Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Config_Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Config_Enabled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Config_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Config_Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Config_Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Config_Enabled)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
